@font-face {
    font-family: 'Bahnschrift';
    src: url("../fonts/bahnschrift.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Bahnschrift' !important;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body {
    background: #111;
    background-image: url("../images/about/gate.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.scaler {
    position: absolute;
    width: 100vw;
    height: 0;
    top: 20%;
    left: 0;
    transform-origin: center;
}
#container{
    padding: 5rem;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(270deg, #E2ECEB88, #95CAD888, transparent, transparent);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    animation: bgFade 12s ease infinite;
    display: inline-block;
}
button {
    padding: 2rem;
    font-size: 1.5rem;
    background: linear-gradient(270deg, #BDDFE188, transparent, transparent);
    border: 1px solid #BDDFE1;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    animation: bgFade 12s ease infinite;
    color: #111;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(300deg, transparent, #BDDFE1);
}
@keyframes bgFade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}