.rocks {
    position: relative;
    z-index: 20;
}
.rocks .rock {
    position: absolute;
}
.rocks .rock.one {
    top: 280px;
    left: -30px;
    width: 98px;
    height: 50px;
    clip-path: polygon(0 0, 56% 10%, 80% 100%, 0 100%);
    background: var(--rocks1);
    z-index: 20;
}
.rocks .rock.two {
    top: 295px;
    left: 30px;
    width: 95px;
    height: 60px;
    clip-path: polygon(0 15%, 20% 10%, 100% 70%, 100% 100%, 0 100%);
    background: var(--rocks2);
    z-index: 10;
}
.rocks .rock.three {
    top: 300px;
    left: 50px;
    width: 95px;
    height: 60px;
    clip-path: polygon(0 60%, 60% 20%, 100% 12%, 100% 100%, 0 100%);
    background: var(--rocks3);
    z-index: 30;
}
.rocks .rock.four {
    top: 305px;
    left: 125px;
    width: 60px;
    height: 65px;
    clip-path: polygon(20% 45%, 100% 12%, 100% 100%, 0 100%);
    background: var(--rocks4);
    z-index: 40;
}
.rocks .rock.five {
    top: 305px;
    left: 175px;
    width: 60px;
    height: 65px;
    clip-path: polygon(0 40%, 20% 15%, 100% 12%, 80% 100%, 0 100%);
    background: var(--rocks5);
    z-index: 40;
}
.triangleContainer {
    margin-top: 92px;
    width: 1000px;
    position: absolute;
    z-index: 30;
    transform: translateX(-250px);
    animation-name: triangles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangleBar {
    width: 1000px;
    height: 6px;
    position: absolute;
    z-index: 15;
    background: linear-gradient(to bottom, var(--white2), var(--white1));
}
.triangle {
    width: 50px;
    height: 10px;
    display: inline-block;
    background: var(--white3);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
}
@keyframes triangles {
    0% { transform: translateX(-250px); }
    100% { transform: translateX(-500px); }
}