folioenv/
folioenv/**

*

!.gitignore
!*.yml
!*.txt
!README.md
!*.pdf

!folioframe/
!folioframe/*

folioframe/.idea/
folioframe/.idea/**

folioframe/*.sqlite3
folioframe/*.env

!folioframe/templates/
!folioframe/templates/*

!folioframe/static/
!folioframe/static/**

!folioframe/folioframe/*
folioframe/folioframe/__pycache__/
folioframe/folioframe/__pycache__/**

!folioframe/foliogate/*
folioframe/foliogate/__pycache__/
folioframe/foliogate/__pycache__/**
folioframe/foliogate/migrations/
folioframe/foliogate/migrations/**

!folioframe/foliohome/*
folioframe/foliohome/__pycache__/
folioframe/foliohome/__pycache__/**
folioframe/foliohome/migrations/
folioframe/foliohome/migrations/**