# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!README.md
!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!.gitlab-ci.yml
!.gitmodules
!ansible.cfg
!deploy.yml
!folioframe.gunicorn
!folioframe.nginx
!register.sh
!requirements.txt

!folioframe/
!folioframe/manage.py

!folioframe/bip/
!folioframe/bip/*.py

!folioframe/foliofin/
!folioframe/foliofin/*.py

!folioframe/folioframe/
!folioframe/folioframe/__init__.py
!folioframe/folioframe/asgi.py
!folioframe/folioframe/context_processors.py
!folioframe/folioframe/middleware.py
!folioframe/folioframe/settings.py
!folioframe/folioframe/urls.py
!folioframe/folioframe/views.py
!folioframe/folioframe/wsgi.py

!folioframe/foliogate/
!folioframe/foliogate/*.py

!folioframe/foliohome/
!folioframe/foliohome/*.py

!folioframe/static/

!folioframe/static/css/
!folioframe/static/css/*.css

!folioframe/static/fonts/
!folioframe/static/fonts/*

!folioframe/static/images/
!folioframe/static/images/favicon.png

!folioframe/static/images/backgrounds/
!folioframe/static/images/backgrounds/*.svg

!folioframe/static/images/languages/
!folioframe/static/images/languages/*.svg
!folioframe/static/images/languages/clef_de_sol.png

!folioframe/static/images/portfolio/
!folioframe/static/images/portfolio/*.png

!folioframe/static/js/
!folioframe/static/js/*.js

!folioframe/templates/

!folioframe/templates/bip/
!folioframe/templates/bip/panel.html

!folioframe/templates/error/
!folioframe/templates/error/*.html

!folioframe/templates/foliofin/
!folioframe/templates/foliofin/*.html

!folioframe/templates/foliogate/
!folioframe/templates/foliogate/*.html

!folioframe/templates/foliohome/
!folioframe/templates/foliohome/*.html

!inventory/
!inventory/hosts.ini
