# https://github.com/gabibdods/NewRepo:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!ansible.cfg
!deploy.yml
!Dockerfile
!docker-compose.yaml
!gunicorn.conf.py
!manage.py
!register.sh
!requirements.txt

!bip/
!bip/*.py

!docker/
!docker/entrypoint.sh

!foliofin/
!foliofin/*.py

!folioframe/
!folioframe/*.py

!foliogate/
!foliogate/*.py

!foliohome/
!foliohome/*.py

!inventory/
!inventory/hosts.ini

!nginx/
!nginx/40-update-cloudflare-ips.sh
!nginx/cloudflare_ips.conf
!nginx/nginx.conf
!nginx/update_cloudflare_ips.sh

!nginx/conf.d/
!nginx/conf.d/cloudflare_ips.conf
!nginx/conf.d/cloudflare_ips.conf.bkp
!nginx/conf.d/default.conf

!static/

!static/css/
!static/css/*.css

!static/fonts/
!static/fonts/*

!static/images/
!static/images/favicon.png

!static/images/backgrounds/
!static/images/backgrounds/*.svg

!static/images/languages/
!static/images/languages/*.svg
!static/images/languages/clef_de_sol.png

!static/images/portfolio/
!static/images/portfolio/*.png

!static/js/
!static/js/*.js

!templates/

!templates/bip/
!templates/bip/panel.html

!templates/error/
!templates/error/*.html

!templates/foliofin/
!templates/foliofin/*.html

!templates/foliogate/
!templates/foliogate/*.html

!templates/foliohome/
!templates/foliohome/*.html
