server {
    listen 80 default_server;
	server_name gabrieldigitprint.work;
	location = /favicon.ico {
		access_log off;
		log_not_found off;
	}
	location ^~ /static/ {
		alias <redacted>;
		allow 127.0.0.1;
		deny all;
	}
	location / {
		proxy_pass http://127.0.0.1:8000;
		include proxy_params;
	}
}