pdfplumber
fastapi
python-docx
pytesseract
pillow
pydantic
h11
pip
cryptography
cffi
typing_extensions
lxml
sniffio
Django
asgiref
sqlparse
psycopg2-binary
colorama
requests
certifi
starlette
pydantic_core
anyio
urllib3
click
uvicorn
charset-normalizer
annotated-types
idna
packaging
pycparser
pypdfium2
django-ratelimit
python-multipart
django-extensions