{% extends "foliohome/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/response.css' %}">
{% endblock %}

{% block main %}
    <section id="welcome-hero" class="welcome-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="header-text">
                        <h2>I'm not worried <span>!</span></h2>
                        <p>because I took a class to learn that language :)</p>
                        <p>nota bene: http status 101 is not meant to be used a final response !<br>it is coded to be a provisional response</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}