:root {
    --blue1: #96c7cc;
    --blue2: #c3ddd8;
    --blue3: #c3e5e5;
    --blue4: #0d3f53;
    --blue5: #0b4558;
    --ray1: #afe0e4;
    --ray2: #c0e6e9;
    --ray3: #84cdd4;
    --ray4: #7ec9d1;
    --ray5: #97d6dc;
    --ray6: #aedee2;
    --ray7: #96d3d8;
    --ray8: #9cd7dd;
    --ray9: #7ecbd3;
    --rocks1: #02364b;
    --rocks2: #063b51;
    --rocks3: #002c44;
    --rocks4: #022a41;
    --rocks5: #023a51;
    --ocean1: #95d6df;
    --ocean2: #6db3c2;
    --ocean3: #407a8b;
    --sky: #e6ffff;
    --white: #fbfef9;
    --white1: #f5fff9;
    --white2: #e7f9f3;
    --white3: #edf7e7;
}
html, body {
    overflow: hidden;
    top: 0;
    left: 0;
}
.canvas{
    position: absolute;
    background-color: var(--sky);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.canvas.upgraded{
    visibility: hidden;
    opacity: 0;
}
.container {
    position: relative;
    width: 360px;
    height: 335px;
    background: linear-gradient(to bottom, var(--blue1) 0%, var(--blue2) 30%, var(--blue2) 100%);
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 30px var(--blue1);
}
textarea:focus,
input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}