.cPos {
    position: relative;
    top: 30%;
    left: calc(50% - 80px);
    z-index: 9;
    transform: translateY(0) scale(1);
    animation-name: sunset;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes sunset {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(10px) scale(0.8); }
}
.cc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
    position: absolute;
    background: var(--white);
    border-radius: 50%;
}
.circle.one {
    width: 160px;
    height: 160px;
    opacity: 0.2;
}
.circle.two {
    width: 130px;
    height: 130px;
    opacity: 0.2;
}
.circle.three {
    width: 100px;
    height: 100px;
    opacity: 0.2;
}
.circle.four {
    width: 70px;
    height: 70px;
}