{% extends "foliohome/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/response.css' %}">
{% endblock %}

{% block main %}
    <section id="welcome-hero" class="welcome-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="header-text">
                        <h2 id="welcome-header">success<span>, </span>noun <span>:</span>
                            <br>chasing consistency every day
                            <br><span>not </span>chasing every day constantly :)
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}