{% extends "foliohome/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/../../static/css/response.css' %}">
{% endblock %}

{% block main %}
    <section id="welcome-hero" class="welcome-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="header-text">
                        <h2 id="welcome-header">huh <span>?</span></h2>
                        <p id="welcome-desc">now where did that delivery man put that extension package :(</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}