{% extends "foliohome/base.html" %}
{% load static %}

{% block main %}
    <section id="welcome-hero" class="welcome-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="header-text">
                        <h2 id="welcome-header">hello <span>, </span>i am gabriel</h2>
                        <p id="welcome-desc">an inspired computer engineering co-op student<br>dedicated to</p>
                        <strong>software designing</strong>
                        <strong>cybersecurity engineering</strong>
                        <strong>electronics engineering</strong>
                        <strong>hardware engineering</strong>
                        <strong>electrical engineering</strong>
                        <strong>systems engineering</strong>
                        <strong>5g engineering</strong>
                        <strong>full stack development</strong>
                        <strong>software engineering</strong>
                        <strong>computer engineering</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="portfolio">
        <div class="portfolio-details">
            <div class="section-heading text-center">
                <h2>portfolio</h2>
            </div>
            <div class="container">
                <div class="portfolio-content">
                    <div class="isotope">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/python.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/CO2hI/blob/main/README.md" target="_blank">
                                            flight pollution<br>light web calculator
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/proxy.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/VeilScade/blob/main/README.md" target="_blank">
                                            proxy socks<br>encrypting server
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/react.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/NucleoSuite/blob/main/README.md" target="_blank">
                                            web app server<br>on raspberrypi 5
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/rgss.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/ConfinedandUnbound/blob/main/README.md" target="_blank">
                                            behavior driven<br>rgss game
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/tails.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/RoutePeel/blob/main/README.md" target="_blank">
                                            web cybersecurity<br>familiarization project
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/django.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/FolioFrame/blob/main/README.md" target="_blank">
                                            web portfolio<br>on production server
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/dotnet.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/PacketVision/blob/main/README.md" target="_blank">
                                            udp client<br>on docker container
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/opencv.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/CforCube/blob/main/README.md" target="_blank">
                                            rubik's cube visual<br>and solving algorithm
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/rust.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/VhsicHdl/blob/main/README.md" target="_blank">
                                            vhdl ide<br>using ghdl and vivado
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/pytorch.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/BeforeItsPrinted/blob/main/README.md" target="_blank">
                                            academic exam author<br>using gpt and pytorch
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/nodejs.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/NullVelope/blob/main/README.md" target="_blank">
                                            temporary email<br>creator using node.js
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/websocket.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/iMirror/blob/main/README.md" target="_blank">
                                            wireless display<br>extension ios app
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/c.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/HashDrill/blob/main/README.md" target="_blank">
                                            lightweight crypto<br>mining program
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/go.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods//blob/main/README.md" target="_blank">
                                            reverse-engineering and<br>binary scanning tool
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/lua.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods//blob/main/README.md" target="_blank">
                                            package manager<br>using github api
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/swift.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/Serenio/blob/main/README.md" target="_blank">
                                            adhd & asd<br>assistant ios app
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/vhdl.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods//blob/main/README.md" target="_blank">
                                            ethernet speed<br>switch on fpga
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/xilinx.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/FirForge/blob/main/README.md" target="_blank">
                                            real-time signal<br>processing system
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/stm32.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/VSB/blob/main/README.md" target="_blank">
                                            compression algorithm<br>on custom usb
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item">
                                    <img src="{% static 'images/portfolio/arduino.png' %}" alt=""/>
                                    <div class="isotope-overlay">
                                        <a href="https://github.com/gabibdods/PlayDuino/blob/main/README.md" target="_blank">
                                            music player<br>on arduino
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="experience" class="experience">
        <div class="section-heading text-center">
            <h2>experience</h2>
        </div>
        <div class="container">
            <div class="experience-content">
                <div class="main-timeline">
                    <ul>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>2024 - present</h2>
                                            <h3>private tutor</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    elementary and middle school tutor
                                                </h4>
                                                <p class="description">
                                                    assisted each pupil with their learning style in mind │ reported a 10% gpa increase on average
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                        <div class="experience-time">
                                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content text-right">
                                                <h4 class="title">youth day camp animator</h4>
                                                <p class="description">
                                                    supervised and ensured the safety of young children in dynamic and fast-paced day camp setting
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                                        <div class="experience-time">
                                            <h2>
                                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                2022 - 2024
                                            </h2>
                                            <h3>day camp animator</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="single-timeline-box fix">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="experience-time text-right">
                                            <h2>2020 - 2021</h2>
                                            <h3>volunteer tutor</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-5">
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <h4 class="title">
                                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                    elementary school volunteer tutor
                                                </h4>
                                                <p class="description">
                                                    supported anglophone pupils learning French │ reported a 7% gpa increase on average
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="education" class="education">
        <div class="section-heading text-center">
            <h2>education</h2>
        </div>
        <div class="container">
            <div class="education-horizontal-timeline">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-horizontal-timeline">
                            <div class="experience-time">
                                <h2>2017 - present</h2>
                                <h3>online learning - edx.org</h3>
                            </div>
                            <div class="timeline-horizontal-border">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <span class="single-timeline-horizontal"></span>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h4 class="title">
                                        self-directed
                                    </h4>
                                    <p class="description">
                                        core competencies: full-stack web development │ restful api design │ sql database management │ defense cybersecurity engineering │ matlab scripting & visualization │ cloud architecture & service models │ docker fundamentals
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-horizontal-timeline">
                            <div class="experience-time">
                                <h2>2022 - 2024</h2>
                                <h3>diploma of college studies</h3>
                            </div>
                            <div class="timeline-horizontal-border">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <span class="single-timeline-horizontal"></span>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h4 class="title">
                                        pure and applied sciences
                                    </h4>
                                    <p class="description">
                                        strong base in applied mathematics, chemistry and physics
                                        <br>graduated with the international baccalaureate diploma
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-horizontal-timeline">
                            <div class="experience-time">
                                <h2>2024 - 2028</h2>
                                <h3>bachelor of engineering</h3>
                            </div>
                            <div class="timeline-horizontal-border">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <span class="single-timeline-horizontal spacial-horizontal-line"></span>
                            </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <h4 class="title">
                                        co-op computer engineering
                                    </h4>
                                    <p class="description">
                                        core competencies: discrete mathematics │ programming methodology II │ digital systems design II │ basic circuit analysis │ computer & software organization │ applied differential equations │ professional practices & responsibilities
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
    <section id="internships" class="internships">
        <div class="section-heading text-center">
            <h2>internships</h2>
        </div>
        <div class="row internships-row">
            <h2>you could see your name here!</h2>
        </div>
    </section>
    -->
    <section id="contact" class="contact">
        <div class="section-heading text-center">
            <h2>contact me</h2>
        </div>
        <div class="container">
            <div class="contact-content">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-6">
                        <div class="single-contact-box">
                            <div class="contact-form">
                                <form id="contact-form-to-be-submitted" action="{% url 'contact' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="name">
                                                    <input type="text" class="form-control" id="name" placeholder="Your Name" name="name" autocomplete="on" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="email">
                                                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" autocomplete="on" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="subject">
                                                    <input type="text" class="form-control" id="subject" placeholder="The Subject" name="subject" autocomplete="on" required>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="message">
                                                    <textarea class="form-control" rows="3" id="message" placeholder="Your Message" name="message" required></textarea>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="single-contact-btn">
                                                <input class="contact-btn" type="submit" value="Send">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5 col-sm-6">
                        <div class="single-contact-box">
                            <div class="contact-address">
                                <div class="contact-add-head">
                                    <h3>gabriel oliveira da silva</h3>
                                    <p>bachelor of engineering co-operative education student</p>
                                </div>
                                <div class="contact-add-info">
                                    <div class="single-contact-add-info">
                                        <h3>email:</h3>
                                        <p><a href="mailto:gabriel.ods.14@hotmail.com" target="_blank">gabriel.ods.14@hotmail.com</a></p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>github:</h3>
                                        <p><a href="https://github.com/gabibdods" target="_blank">gabibdods</a></p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>hackerrank:</h3>
                                        <p><a href="https://www.hackerrank.com/profile/gabriel_da_silva" target="_blank">gabriel_da_silva</a></p>
                                    </div>
                                    <div class="single-contact-add-info">
                                        <h3>leetcode:</h3>
                                        <p><a href="https://leetcode.com/u/ga_olive/" target="_blank">ga_olive</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="section-heading text-center">
            <h2>about</h2>
        </div>
        <div class="container">
            <div class="about-content">
                <div class="row">
                    <div class="single-about-txt">
                        <h3>You can contact me to take a look at my resume!</h3>
                        <p class="description">
                            This is my portfolio site — built using:<br>
                            - HTML, CSS, SVG and JavaScript for the front-end<br>
                            - Django, Python and PostgreSQL for the back-end<br>
                            - Gunicorn, Nginx and Cloudflare for production deployment and<br>
                            - Ansible and GitLab for CI/CD pipeline integration and deployment<br><br>
                            It showcases my projects and lets visitors send me messages
                            <br><br>It reflects my skills in full-stack development and secure deployment
                            <br><br>This is a professional space where recruiters, collaborators, and tech enthusiasts can learn about my work and get in touch
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>business email</h3>
                                    <p><a href="mailto:gabriel.ods.14@hotmail.com" target="_blank">gabriel.ods.14@hotmail.com</a></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>web portfolio</h3>
                                    <p>gabrieldigitprint.work/home</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>personal domain</h3>
                                    <p>gabrieldigitprint.work</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="venn-container" id="venn-container">
            <div class="venn-box">
                <div class="venn-circle-wrapper venn-wrapper1">
                    <div class="venn-circle venn-circle1" id="venn-circle1"></div>
                    <div class="venn-label">reading</div>
                </div>
                <div class="venn-circle-wrapper venn-wrapper2">
                    <div class="venn-circle venn-circle2" id="venn-circle2"></div>
                    <div class="venn-label">writing</div>
                </div>
                <div class="venn-circle-wrapper venn-wrapper3">
                    <div class="venn-circle venn-circle3" id="venn-circle3"></div>
                    <div class="venn-label">speaking</div>
                </div> <!-- reference system: ( +x -> , \/ +y ) -->
                <div class="venn-flag-bubble venn-arabic" style="--start-x: -320%; --start-y: 500%;">
                    <img src="{% static 'images/languages/ae.svg' %}" alt="arabic">
                </div>
                <div class="venn-flag-bubble venn-catalan" style="--start-x: -300%; --start-y: 350%;">
                    <img src="{% static 'images/languages/ct.svg' %}" alt="catalan">
                </div>
                <div class="venn-flag-bubble venn-polish" style="--start-x: -340%; --start-y: 150%;">
                    <img src="{% static 'images/languages/pl.svg' %}" alt="polish">
                </div>
                <div class="venn-flag-bubble venn-music" style="--start-x: -210%; --start-y: 60%;">
                    <img src="{% static 'images/languages/clef_de_sol.png' %}" alt="music">
                </div>
                <div class="venn-flag-bubble venn-italian" style="--start-x: 0%; --start-y: 370%;">
                    <img src="{% static 'images/languages/it.svg' %}" alt="italian">
                </div>
                <div class="venn-flag-bubble venn-spanish" style="--start-x: 70%; --start-y: 230%;">
                    <img src="{% static 'images/languages/es.svg' %}" alt="spanish">
                </div>
                <div class="venn-flag-bubble venn-portuguese" style="--start-x: 0%; --start-y: 120%;">
                    <img src="{% static 'images/languages/br.svg' %}" alt="portuguese">
                </div>
                <div class="venn-flag-bubble venn-french" style="--start-x: 60%; --start-y: 10%;">
                    <img src="{% static 'images/languages/fr.svg' %}" alt="french">
                </div>
                <div class="venn-flag-bubble venn-english" style="--start-x: -60%; --start-y: 10%;">
                    <img src="{% static 'images/languages/us.svg' %}" alt="english">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/flipIndex.js' %}"></script>
{% endblock %}