{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
        {% block title %}FolioFrame{% endblock %}
        </title>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" type="image/icon" href="{% static 'assets/../../static/images/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'assets/../../static/css/gate.css' %}">
    {% endblock %}
    </head>
    <body>
        <img src="{% static 'assets/../../static/images/backgrounds/cloud2.svg' %}" alt="cloud" id="cloud"/>
        <header>
        {% block header %}
        {% endblock %}
        </header>
        <main>
        {% block main %}
        {% endblock %}
        </main>
        <footer>
        {% block footer %}
        {% endblock %}
        </footer>
        {% block script %}
        <script src="{% static 'assets/../../static/js/antizoom.js' %}"></script>
        {% endblock %}
    </body>
</html>
